{% extends 'base.html' %}

{% block title%}
Contact
{% endblock %}

{% block content%}
<h1 class="text-center">Locate Us</h1>
<br>
<br>
    <h5 class="text-center">KIMS Trivandrum - India</h5>
<br>
<h6 class="text-center">KIMSHEALTH, P.B.No.1, Anayara P.O, <br>Trivandrum – 695029<br> Kerala, India</h6>
<br>
<h4 class="text-center">Get in touch</h4>

<div class="row">
  <div class="col">
    <input type="text" class="form-control"maxlength="50" placeholder="Name" aria-label="Name">
  </div>
</div>

<div class="row">
  <div class="col">
    <input type="text" class="form-control" maxlength="250" placeholder="Email" aria-label="Email">
  </div>
</div>
<div>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" maxlength="100" placeholder="Contact number" aria-label="Contact number">
  </div>
</div>
</div>
<br>

 <button class="btn btn-dark mb-4" type="submit">Submit</button>
{% endblock %}